<address-book-header></address-book-header>
<div class="container-fluid">
    <div class="col-md-3"></div>
    <div class="whiteText col-md-6">
        <h3 class="col-md-12" style="text-align: left;">Send New Message:</h3>
        <!-- Select who to send to -->
        <div class="col-md-3">
            <label>Send To:</label>
        </div>
        <div class="col-md-9">
            <select ng-model="$ctrl.sendToId" class="form-control">
                <option  ng-repeat="user in $ctrl.contacts" value="{{user.ContactId}}">{{user.FirstName}} {{user.LastName}}</option>
            </select>
        </div>
        <label class="col-md-3">Subject:</label><input type="text" ng-model="$ctrl.title" class="classicText col-md-3">
        <label class="col-md-3">Message:</label><input type="textarea" ng-model="$ctrl.contents" class="classicText col-md-3">
        <div class="col-md-12">
            <div class="col-md-4"></div>
            <button ng-click="$ctrl.sendMessage()" class="btn btn-primary col-md-4">&#9998;Send Message</button>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>