<div ng-show="$ctrl.uploading" class="col-md-12">
    <div class="col-md-4"></div>
    <img src="Images/upload-animation.gif" class="col-md-4"/>
</div>
<div ng-show="!$ctrl.uploading">
    <address-book-header></address-book-header>
    <div class="container-fluid">
        <div class="col-md-3"></div>
        <div class="whiteText col-md-6">
            <h3 class="col-md-12" style="text-align: left;">Add Contact Address:</h3>
            <label class="col-md-3">First Name:</label><input type="text" ng-model="$ctrl.newAddress.FirstName" class="classicText col-md-3">
            <label class="col-md-3">Last Name:</label><input type="text" ng-model="$ctrl.newAddress.LastName" class="classicText col-md-3">
            <label class="col-md-3">Job Title:</label><input type="text" ng-model="$ctrl.newAddress.CompanyPosition" class="classicText col-md-3">
            <label class="col-md-3">Company Name:</label><input type="text" ng-model="$ctrl.newAddress.CompanyName" class="classicText col-md-3">
            <label class="col-md-3">Mobile:</label><input type="text" ng-model="$ctrl.newAddress.Mobile" class="classicText col-md-3">
            <label class="col-md-3">Fax:</label><input type="text" ng-model="$ctrl.newAddress.Fax" class="classicText col-md-3">
            <label class="col-md-3">Home Tel:</label><input type="text" ng-model="$ctrl.newAddress.HomeTel" class="classicText col-md-3">
            <label class="col-md-3">Work Tel:</label><input type="text" ng-model="$ctrl.newAddress.WorkTel" class="classicText col-md-3">
            <label class="col-md-3">Home E-Mail:</label><input type="text" ng-model="$ctrl.newAddress.HomeEmail" class="classicText col-md-3">
            <label class="col-md-3">Work E-Mail:</label><input type="text" ng-model="$ctrl.newAddress.WorkEmail" class="classicText col-md-3">
            <h3 class="col-md-12" style="text-align: center;">Physical Address:</h3>
            <label class="col-md-3">Street Number:</label><input type="text" ng-model="$ctrl.newAddress.HomeAddressNr" class="classicText col-md-3">
            <label class="col-md-3">Street Name:</label><input type="text" ng-model="$ctrl.newAddress.HomeAddressStreet" class="classicText col-md-3">
            <label class="col-md-3">Suburb:</label><input type="text" ng-model="$ctrl.newAddress.HomeAddressSuburb" class="classicText col-md-3">
            <label class="col-md-3">City:</label><input type="text" ng-model="$ctrl.newAddress.HomeAddressCity" class="classicText col-md-3">
            <label class="col-md-3">Postal Code:</label><input type="text" ng-model="$ctrl.newAddress.HomeAddressPostalCode" class="classicText col-md-3">
            <label class="col-md-3">Additional Info:</label><input type="text" ng-model="$ctrl.newAddress.HomeAddressAdditional" class="classicText col-md-3">
            <label class="col-md-3">Profile Picture:</label>
            <div class="col-md-12">
                <img ng-src="{{$ctrl.myImage}}" class="profile-pic-sml"/>
            </div>
            <form action="http://localhost:8000/AddressBook/uploadImage.php" method="POST" enctype="multipart/form-data" id="uploadForm" class="classicText col-md-12">
                <input type="file" name="myfile" id="fileToUpload" onchange="angular.element(this).scope().uploadFile(this.files)" class="btn btn-info"/>
                <input type="submit" name="submit" value="Upload File Now" ng-click="$ctrl.imageUploaded()" class="btn btn-info"/>
                <br><label class="infoText">New photo will only take effect on the profile once the "Add Contact Information" button is pressed.</label>
            </form>
            <div class="col-md-12">
                <div class="col-md-4"></div>
                <button ng-click="$ctrl.addAddress()" class="btn btn-primary col-md-4">&#9998;Add Contact Information</button>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>