<address-book-header></address-book-header>
<div class="whiteText">
    <div class="input-group">
        <span class="input-group-addon">Please Select:</span>
        <select ng-change="$ctrl.showMessages()" ng-model="$ctrl.selection" class="form-control">
            <option value="All">All Messages</option>
            <option value="From">Sent</option>
            <option value="To">Inbox</option>
        </select>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Sort By</span>
        <select ng-model="$ctrl.orderProp" class="form-control">
            <option value="MessageTimeStamp">Newest First</option>
            <option value="-MessageTimeStamp">Oldest First</option>
            <option value="UserFromFirstName">Alphabetical A-Z (Name)</option>
            <option value="-UserFromFirstName">Alphabetical Z-A (Name)</option>
            <option value="UserFromLastName">Alphabetical A-Z (Surname)</option>
            <option value="-UserFromLastName">Alphabetical Z-A (Surname)</option>
        </select>
    </div>

    <div ng-show="$ctrl.showAll">
        <uib-accordion>
            <div uib-accordion-group class="panel-default pnl-size col-md-12"  ng-repeat="message in $ctrl.allMessages | orderBy:$ctrl.orderProp">
                <uib-accordion-heading>
                    <div class="row">
                        <div class="col-md-4">
                            <h3>From: {{message.UserFromFirstName}} {{message.UserFromLastName}}</h3>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <h3>To: {{message.UserToFirstName}} {{message.UserToLastName}}</h3>
                        </div>
                        <div class="col-md-12">
                            <h3>Subject: {{message.MessageTitle}}</h3>
                        </div>
                        <div class="col-md-12">
                            <h5>Date: {{message.MessageTimeStamp}}</h5>
                        </div>
                    </div>
                </uib-accordion-heading>
                <h4 class="classicText">{{message.MessageContents}}</h4>
            </div>
        </uib-accordion>
    </div>

    <div ng-show="$ctrl.showFrom">
        <uib-accordion>
            <div uib-accordion-group class="panel-default pnl-size col-md-12"  ng-repeat="message in $ctrl.messagesFrom | orderBy:$ctrl.orderProp">
                <uib-accordion-heading>
                    <div class="row">
                        <div class="col-md-4">
                            <h3>From: {{message.UserFromFirstName}} {{message.UserFromLastName}}</h3>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <h3>To: {{message.UserToFirstName}} {{message.UserToLastName}}</h3>
                        </div>
                        <div class="col-md-12">
                            <h3>Subject: {{message.MessageTitle}}</h3>
                        </div>
                        <div class="col-md-12">
                            <h5>Date: {{message.MessageTimeStamp}}</h5>
                        </div>
                    </div>
                </uib-accordion-heading>
                <h4 class="classicText">{{message.MessageContents}}</h4>
            </div>
        </uib-accordion>
    </div>

    <div ng-show="$ctrl.showTo">
        <uib-accordion>
            <div uib-accordion-group class="panel-default pnl-size col-md-12"  ng-repeat="message in $ctrl.messagesTo | orderBy:$ctrl.orderProp">
                <uib-accordion-heading>
                    <div class="row">
                        <div class="col-md-4">
                            <h3>From: {{message.UserFromFirstName}} {{message.UserFromLastName}}</h3>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <h3>To: {{message.UserToFirstName}} {{message.UserToLastName}}</h3>
                        </div>
                        <div class="col-md-12">
                            <h3>Subject: {{message.MessageTitle}}</h3>
                        </div>
                        <div class="col-md-12">
                            <h5>Date: {{message.MessageTimeStamp}}</h5>
                        </div>
                    </div>
                </uib-accordion-heading>
                <h4 class="classicText">{{message.MessageContents}}</h4>
            </div>
        </uib-accordion>
    </div>
</div>