<nav class="navbar-static-top">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav">
                <li><a ui-sref="home" ui-sref-active="active" class="classicText" ng-click="$ctrl.resetUserData()">Logout</a></li>
                <li><a ui-sref="address-book" ui-sref-active="active" class="classicText">Address Book</a></li>
                <li><a ui-sref="address-add" ui-sref-active="active" class="classicText">&#9998;Add Contact</a></li>
                <li><a ui-sref="message-list" ui-sref-active="active" class="classicText">View Messages</a></li>
                <li><a ui-sref="message-send" ui-sref-active="active" class="classicText">&#9998;Send New Message</a></li>
            </ul>
        </div>
        <div class="col-md-8"></div>
        <div class="nvabar-brand">
            <img src="http://localhost:8000/AddressBook/Images/logo.png" class="img-logo"/>
        </div>
    </div>
</nav>